<!DOCTYPE>

<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/scripts/utils.js"></script>
    <script src="/scripts/library.js"></script>
    <script src="/scripts/album.js"></script>
    <script src="/scripts/song.js"></script>
    <script src="/scripts/formation.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">

    <link href="/styles/formation.css" rel="stylesheet">
    <link href="/styles/ranger.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/mX3qvFmFFF9Z8m3mU7ePjF/icons.css" rel="stylesheet">
  </head>
  <body>
    <div class="my-audio">
      <audio
        data-title="Pray You Catch Me"
        data-artist="Beyoncé"
        data-track="1"
        data-album="Formation"
        src="http://www.bensound.org/bensound-music/bensound-dubstep.mp3"
        type="audio/mpeg">
      </audio>

      <audio
        data-title="Hold Up"
        data-artist="Beyoncé"
        data-album="Formation"
        data-track="2"
        src="http://www.bensound.org/bensound-music/bensound-cute.mp3"
        type="audio/mpeg">
      </audio>

      <audio
        data-title="Don't Hurt Yourself (Ft. Jack White)"
        data-artist="Beyoncé"
        data-track="3"
        data-album="Formation"
        src="http://www.bensound.org/bensound-music/bensound-littleidea.mp3" type="audio/mpeg">
      </audio>

      <audio
        data-title="Sorry"
        data-artist="Beyoncé"
        data-album="Formation"
        data-track="4" src="http://www.bensound.org/bensound-music/bensound-acousticbreeze.mp3"
        type="audio/mpeg">
      </audio>

      <audio
        data-title="6 Inch (Ft. The Weeknd)"
        data-artist="Beyoncé"
        data-album="Formation"
        data-track="5" src="http://www.bensound.org/bensound-music/bensound-epic.mp3"
        type="audio/mpeg">
      </audio>

      <audio
        data-title="Daddy Lessons"
        data-artist="Beyoncé"
        data-album="Formation"
        data-track="6"
        src="http://www.bensound.org/bensound-music/bensound-buddy.mp3"
        type="audio/mpeg">
      </audio>

      <audio
        data-title="Love Drought"
        data-artist="Beyoncé"
        data-album="Formation"
        data-track="7"
        src="http://www.bensound.org/bensound-music/bensound-happiness.mp3"
        type="audio/mpeg">
      </audio>

      <audio
        data-title="Sandcastles"
        data-artist="Beyoncé"
        data-album="Formation"
        data-track="8"
        src="http://www.bensound.org/bensound-music/bensound-smallguitar.mp3"
        type="audio/mpeg">
      </audio>

      <audio
        data-title="Forward (Ft. James Blake)"
        data-artist="Beyoncé"
        data-album="Formation"
        data-track="9"
        src="http://www.bensound.org/bensound-music/bensound-memories.mp3"
        type="audio/mpeg">
      </audio>

      <audio
        data-title="All Night"
        data-artist="Beyoncé"
        data-track="11"
        data-album="Formation"
        src="http://www.bensound.org/bensound-music/bensound-sunny.mp3"
        type="audio/mpeg">
      </audio>

      <audio
        data-title="Freedom (Ft. Kendrick Lamar)"
        data-artist="Beyoncé"
        data-album="Formation"
        data-track="10" src="http://www.bensound.org/bensound-music/bensound-tenderness.mp3"
        type="audio/mpeg">
      </audio>

      <audio
        data-title="Formation"
        data-artist="Beyoncé"
        data-album="Formation"
        data-track="12" src="http://www.bensound.org/bensound-music/bensound-memories.mp3"
        type="audio/mpeg">
      </audio>

    </div>

    <div class="controls">
      <div class="title"></div>
      <div class="artist"></div>
      <div class="current-time"></div>
      <input type="range" class="time-selector" min=0 step="0.10" value=0>
      <div class="media-controls">
        <span class="back icon-skip-back"></span>
        <span class="play-pause icon-play-circle"></span>
        <span class="next icon-skip-forward"></span>
      </div>
    </div>

    </div>
  </body>
</html>
